@import url('https://fonts.googleapis.com/css2?family=Gentium+Plus&display=swap');

body {
  margin: 0;
}

h1,
h2 {
  margin: 0;
  font-family: 'Gentium Plus', sans-serif;
}

p {
  margin: 0;
  font-family: 'Gentium Plus', sans-serif;
}

span {
  font-family: 'Gentium Plus', sans-serif;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
